 /* .about-cover{
    background-image: url('../resources/cat.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:350px;
    position:absolute;
    z-index: 0;
    opacity: 0.5;

    
}
.about-cover2{
    background-image: url('../resources/simple.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:350px;
    width: 100%;
    height:350px;
    position:absolute;
    z-index:-1;
    opacity: 0.9;
}

.about-cover3{
    background-image: url('../resources/intuitive.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:700px;
    width: 100%;
    height:350px;
    position:absolute;
    z-index:-1;
    opacity: 0.9;
} 

.about-cover4{
    background-image: url('../resources/flexible.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:1050px;
    width: 100%;
    height:350px;
    position:absolute;
    z-index:-1;
    opacity: 0.8;
}*/
.about-body{
    width: 70%;
    margin:0 auto;
    padding-top:100px;
    padding-bottom:100px;
    display:flex;
}

.about-side{
    padding-right:15px;
    border-right: 10px solid #1F2124;
    font-size:2vw;
    writing-mode: vertical-lr; 
    letter-spacing: 10px;
    width: 60px;
}
.about-content{
    padding-left: 50px;
    padding-right: 50px;
    font-size:2vw;
}


.about-phrase-b{
    padding-top: 18vw;
}
.about-me{
    padding-bottom: 50px;
}

/* code */
.code-dvider{
    width: 100%;
    height:10px;
}
.symbol{
    color: white !important;
}
.code-header{
    color:#FDD692 !important;
}
.code-inline div{
    display:inline-block;
}
.type{
    color: #EE7785 !important;
}

.var{
    color: #2b90d9 !important;
}
.varName{
    color: #8EC0E4 !important;
}
.method{
    padding:1vw;
}
.method-code{
    padding:1.5vw;
    font-size: 1.5vw;   
}
.m-name{
    color: #3ac569 !important;
}
.after-method{
    color: #88dba3 !important;
}

.comment{
    color: #566270 !important;
}