/* html, body {
    height: 100%;
    margin: 0 auto;
  }
  
  body{
    background-image: url('../resources/background4.jpg');
    /* Photo by Chris Ried on Unsplash 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
  } */
  @-webkit-keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  
  @-moz-keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  
  @keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  .main{
     /* background-color: #1F2124; */
     /* background: linear-gradient(-40deg, #EE7752, #E73C7E, #23A6D5, #23D5AB); */
    /* background: linear-gradient(-40deg,#272625,#1F2124, black, black);  */
    /* background: linear-gradient(-40deg, #5CAB7D,#5A9367 , #5CAB7D, #5A9367);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
    /* width: 100%;

    margin-top: 100px;
    margin-bottom: 100px; */

    /* height: 100%; */
    /* background-image: url('../resources/background4.jpg'); */
    /* background-color: #a5dff9; */
    /* Photo by Chris Ried on Unsplash */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#000000ad; */
  }
  .main-logo{
    position: fixed;
    border: 10px solid white;
    border-radius: 50%;
    width: 50px;
    text-align: center;
    height: 50px;
    vertical-align: middle;
    left: 100px;
    top: 50px;
  }
  .main-logo:hover{
    cursor: pointer;
    background-color:#efefef;
    border-color:#efefef;
  }
  .color-a{color: #67D5B5 !important; }
  .color-b{color: #EE7785 !important;}
  .color-c{color: #C89EC4 !important;}
  .color-d{color: #84B1ED !important;}
  .color-e{color: #FDD692 !important;}

  .main-content{
    display:flex;
    width:70%;
    margin:0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #FFFFF2 !important;
  
  }

  .main-phrase{
    flex:1;
    padding-top:125px;
  }
  .main-phrase div a:hover{
    color: #FFFFF2 !important;
  
    cursor: pointer;
  }
  .main-menu{
    font-size: 3.5rem;
    padding-top:130px;
    text-align: right;
    letter-spacing: 15px;
  }
  .main-menu div a{
    color: #FFFFF2 !important;

  }
  .main-menu a:hover{
    color:#000000ad !important;
    text-shadow: 4px 4px 0px #1565C0
  }
  .menu-contact{
    text-align: left;
    letter-spacing: 8px;
  }

  

  .name{
    font-size: 6rem;
    font-weight: bold;
  }
  .sub-name{
    font-size: 4.7rem;
  }
  .me{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    background-image: url('../resources/ch.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 0.1px solid #929292;
  }
  
  .menu{
    font-size: 25pt;
    width: 167px;
    margin: 0 auto;
    color:black;
  }
  
  .tags{
    padding-top: 10px;
    font-size: 1.5rem;
  }

a,  a:link, a:hover, a:visited{
    color: black !important;
    text-decoration: none !important;
  }