body, html, #root, .app{
    margin: 0;
    padding: 0;
    background-color:#eef2f5;
}
.app-main{
    background-color:black;
    color: white !important;
}
.app-labs{
    padding-top:30px;
    padding-bottom:30px;
}
::-webkit-scrollbar {
    display:none;
}

.divider-grey{
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    width: 100%;
    height:1px;
    border: 0.7px solid #ebebeb;
}

.c-pink{
    color:#EE7785 !important;
}
.c-mint{
    color:#67D5B5 !important;
}
.c-yellow{
    color:#FDD692 !important;
}
.c-white{
    color:white !important;
}